<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="siteSettings">
			<section name="dkhn" type="System.Configuration.AppSettingsSection"/>
			<section name="bvtn" type="System.Configuration.AppSettingsSection"/>
			<section name="horus" type="System.Configuration.AppSettingsSection"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<!--Auth0 login-->
		<add key="ProjectName" value="dkhn"/>
		<add key="SiteName" value="qa"/>
		<add key="Auth0Connection" value=""/>
		<add key="Auth0ClientId" value=""/>
	</appSettings>
	<siteSettings>
		<dkhn>
			<setting>
				<Url value=""/>
				<apikey value=""/>
				<username value=""/>
				<password value=""/>
				<sessionid value=""/>
				<Database value=""/>
				<instanceName value="dev"/>
			</setting>
			<setting>
				<Url value=""/>
				<!--<Url value=""/>-->
				<apikey value=""/>
				<username value=""/>
				<password value=""/>
				<sessionid value=""/>
				<Database value=""/>
				<instanceName value="qa"/>
			</setting>
			<setting>
				<Url value=""/>
				<apikey value=""/>
				<username value=""/>
				<password value=""/>
				<sessionid value=""/>
				<Database value=""/>
				<instanceName value="staging"/>
			</setting>
		</dkhn>
		<bvtn>
			<setting>
				<Url value=""/>
				<!--<Url value=""/>-->
				<apikey value=""/>
				<username value=""/>
				<password value=""/>
				<sessionid value=""/>
				<Database value=""/>
				<instanceName value="qa"/>
			</setting>
			<setting>
				<Url value=""/>
				<apikey value=""/>
				<username value=""/>
				<password value=""/>
				<sessionid value=""/>
				<Database value=""/>
				<instanceName value="staging"/>
			</setting>
		</bvtn>
		<horus>
			<setting>
				<Url value=""/>
				<!--<Url value=""/>-->
				<apikey value=""/>
				<username value=""/>
				<password value=""/>
				<sessionid value=""/>
				<Database value=""/>
				<instanceName value="qa"/>
			</setting>
			<setting>
				<Url value=""/>
				<apikey value=""/>
				<username value=""/>
				<password value=""/>
				<sessionid value=""/>
				<Database value=""/>
				<instanceName value="staging"/>
			</setting>
		</horus>
	</siteSettings>
</configuration>